<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
# Ваш код здесь
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
# Ваш код здесь
mean_female_age = data[data['sex'] == 'Female']['age']
round(np.mean(mean_female_age))

37

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
# Ваш код здесь
german_proporion = data[data['native-country'] == 'Germany'].shape[0] / data.shape[0] * 100
round(german_proporion, 2)

0.42

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [9]:
# Ваш код здесь
salary_less_50k = data[data['salary'] == '<=50K']['age']
salary_more_50k = data[data['salary'] == '>50K']['age']
print('<=50K: среднее значение', round(np.mean(salary_less_50k)),
      ', среднекватратичное отклонение: ', round(np.std(salary_less_50k), 1))
print('>50K: среднее значение', round(np.mean(salary_more_50k)),
      ', среднекватратичное отклонение: ', round(np.std(salary_more_50k), 1))

<=50K: среднее значение 37 , среднекватратичное отклонение:  14.0
>50K: среднее значение 44 , среднекватратичное отклонение:  10.5

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
# Ваш код здесь
print(data[data['salary'] == '>50K']['education'].value_counts())
print('\nОтвет: нет.')

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Ответ: нет.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [8]:
# Ваш код здесь
grouped_race = data.groupby(['race'])['age']
print(grouped_race.describe())
grouped_sex = data.groupby(['sex'])['age']
print(grouped_sex.describe())
print('\nОтвет: ', grouped_race.max()['Amer-Indian-Eskimo'])

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

Ответ:  82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
# Ваш код здесь
married_set = {'Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'}
salary_more_50k = data[data['salary'] == '>50K']
married = salary_more_50k[salary_more_50k['marital-status'].apply(lambda status: status in married_set)]
unmarried = salary_more_50k[salary_more_50k['marital-status'].apply(lambda status: status not in married_set)]
married_propotion = 'Женатых больше' if married.shape[0] > unmarried.shape[0] else 'Холостяков больше'
print(married_propotion)

Женатых больше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [15]:
# Ваш код здесь
max_hours = np.max(data['hours-per-week'])
peoples_count = data[data['hours-per-week'] == max_hours].shape[0]
percent = round(data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0] / peoples_count * 100)
answer = f'''максимальное число часов, которое человек работает в неделю - {max_hours}
Такое же количество часов работают {peoples_count} людей
Среди них зарабатывающих много - {percent}%'''
print(answer)

максимальное число часов, которое человек работает в неделю - 99
Такое же количество часов работают 85 людей
Среди них зарабатывающих много - 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
# Ваш код здесь
countries = data['native-country'].value_counts().index.tolist()
for i in countries:
    mean_salary_less50k = np.mean(data[(data['native-country'] == i) & (data['salary'] == '<=50K')]['hours-per-week'])
    mean_salary_more50k = np.mean(data[(data['native-country'] == i) & (data['salary'] == '>50K')]['hours-per-week'])
    print(i, mean_salary_less50k, mean_salary_more50k)

United-States 38.79912723305605 45.50536884674383
Mexico 40.00327868852459 46.57575757575758
? 40.16475972540046 45.54794520547945
Philippines 38.065693430656935 43.032786885245905
Germany 39.13978494623656 44.97727272727273
Canada 37.91463414634146 45.64102564102564
Puerto-Rico 38.470588235294116 39.416666666666664
El-Salvador 36.03092783505155 45.0
India 38.233333333333334 46.475
Cuba 37.98571428571429 42.44
England 40.483333333333334 44.53333333333333
Jamaica 38.23943661971831 41.1
South 40.15625 51.4375
China 37.38181818181818 38.9
Italy 39.625 45.4
Dominican-Republic 42.338235294117645 47.0
Vietnam 37.193548387096776 39.2
Guatemala 39.36065573770492 36.666666666666664
Japan 41.0 47.958333333333336
Poland 38.166666666666664 39.0
Columbia 38.68421052631579 50.0
Taiwan 33.774193548387096 46.8
Haiti 36.325 42.75
Iran 41.44 47.5
Portugal 41.93939393939394 41.5
Nicaragua 36.09375 37.5
Peru 35.06896551724138 40.0
France 41.05882352941177 50.75
Greece 41.80952380952381 50.625
Ecuador 38.041666666666664 48.75
Ireland 40.94736842105263 48.0
Hong 39.142857142857146 45.0
Trinadad&Tobago 37.05882352941177 40.0
Cambodia 41.416666666666664 40.0
Laos 40.375 40.0
Thailand 42.86666666666667 58.333333333333336
Yugoslavia 41.6 49.5
Outlying-US(Guam-USVI-etc) 41.857142857142854 nan
Hungary 31.3 50.0
Honduras 34.333333333333336 60.0
Scotland 39.44444444444444 46.666666666666664
Holand-Netherlands 40.0 nan